.profile {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  border: 1px solid #9e9e9e;
  border-radius: 4px;
}
.description {
  font-size: 15px;
  text-align: center;
  display: block;
  border-bottom: 1px solid #9e9e9e;
}
.avatar {
  margin: 40px auto 0px auto;
  background-color: #9e9e9e;
  border-radius: 50%;
  max-width: 100px;
}
.name {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}
.tag {
  font-size: 16px;
  color: #a7a7a7;
}
.location {
  font-size: 16px;
  color: #a7a7a7;
}
.stats {
  display: flex;
  background: rgb(240, 240, 240);
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.stats li {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding: 10px 0px;
  width: 80px;
  color: #a7a7a7;
}
.stats li:nth-child(2n) {
  border-right: 1px solid #a7a7a7;
  border-left: 1px solid #a7a7a7;
}

.quantity {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}
